<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Pragmatic Bookshelf" %>
	</div>
	<div id="columns">
		<div id="side">
			<a href="http://www....">Home</a><br>
			<a href="http://www..../faq">Questions</a><br>
			<a href="http://www..../news">News</a><br>
			<a href="http://www..../contact">Contact</a><br>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>

</body>
</html>
